<style> 

.clock{
    color: white;
    font-size: 150%;
}
</style>
    <body>
<div id="a" class="clock"></div>
<script type="text/javascript">
    function digital()
    {
        var date=new Date();
        var a=':';
        var h=date.getHours();
        var m=date.getMinutes();
        var s=date.getSeconds();
        h=check(h);
        m=check(m);
        s=check(s);
        function check(i)
        {
            if(i<10)
            {
                i="0"+i;
            }
            return i;
        }
        
        document.getElementById("a").innerHTML=h+a+m+a+s;
        setTimeout(digital, 1000);
    }
    digital();



</script>


</body>
