<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Basic Page Needs
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Lab Conditions by RPi</title>
  <meta name="description" content="Lab conditions - RPi">
  <meta name="author" content="Peter Dalmaris">
  <!-- Mobile Specific Metas
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- FONT
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <!-- <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css"> -->
  <!-- CSS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <!-- <link rel="stylesheet" href="/static/css/normalize.css"> -->
  <!-- <link rel="stylesheet" href="/static/css/skeleton.css"> -->
  <!-- Favicon
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <!-- <link rel="icon" type="image/png" href="/static/images/favicon.png"> -->
</head>

  <style>
    .display_table,
    tr,
    th,
    td {
      border: 1px solid black;
      padding: 5px;

    }

    .display_container {
      max-height: 600px;
      overflow-y: scroll;
    }
    .container{
      display: flex;
      flex-wrap: wrap;
      width: 150%;
      /* margin-left: 0;
      margin-right: 0; */
    }
    .row{
      /* display: flex; */
      /* width: 100%; */
      /* justify-content:baseline; */
      flex-wrap: nowrap;
      margin-bottom: 10px;
    }
    .column{
      height: 30%;
      width: fit-content;
      padding-top: 10px;
      box-sizing: border-box;
    }
    .column-table{
      height: 30%;
      width: fit-content;
      padding-top: 120px;
      box-sizing: border-box;
    }
    .column-diagram{
      padding: 0px;
      height: auto;
      width: fit-content;
    }
    .body{
      margin: 0;
      padding: 0;
    }

  </style>
<body>

  {% for row in temp1 %}
  {{loop.index0, "-->", row[0][0: 19] }}
  odstep jest rowny jakis odstep :D
    {% endfor %}

<br><br>
  {{temp1}}
  <div class="container">
    <div class="row">
      <div class="column-table">
        <div class="display_container">
          <table class="display_table">
            <thead>
              <tr>
                <th>Date</th>
                <th>&deg;C</th>
              </tr>
            </thead>
            <tbody>
              {% for row in temp1 %}
              <tr>
                <td>{{row[0]}}</td>
                <td>{{'%0.2f'|format(row[2])}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>      
      </div>
      <div class="column-diagram">
        <div id="chart_temps1"></div>
      </div>

    </div>
    <div class="row">
      <div class="column-table">
        <div class="display_container">
          <table class="display_table">
            <thead>
              <tr>
                <th>Date</th>
                <th>&deg;C</th>
              </tr>
            </thead>
            <tbody>
              {% for row in temp2 %}
              <tr>
                <td>{{row[0]}}</td>
                <td>{{'%0.2f'|format(row[2])}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>       
      </div>
      <div class="column-diagram">
        <div id="chart_temps2"></div>
      </div>

    </div>
    <div class="row">
      <div class="column-table">
        <div class="display_container">
          <table class="display_table">
            <thead>
              <tr>
                <th>Date</th>
                <th>&deg;C</th>
              </tr>
            </thead>
            <tbody>
              {% for row in temp3 %}
              <tr>
                <td>{{row[0]}}</td>
                <td>{{'%0.2f'|format(row[2])}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>      
      </div>
      <div class="column-diagram">
        <div id="chart_temps3"></div>
      </div>

    </div>
    <div class="row">
      <div class="column-table">  
        <div class="display_container">
          <table class="display_table">
            <thead>
              <tr>
                <th>Date</th>
                <th>[A]</th>
              </tr>
            </thead>
            <tbody>
              {% for row in curr %}
              <tr>
                <td>{{row[0]}}</td>
                <td>{{'%0.2f'|format(row[2])}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>      
      </div>
      <div class="column">
        <div id="chart_curr"></div>
      </div>

    </div>
    <div class="row">
      <div class="column-table">
        <div class="display_container">
          <table class="display_table">
            <thead>
              <tr>
                <th>Date</th>
                <th>%</th>
              </tr>
            </thead>
            <tbody>
              {% for row in efi %}
              <tr>
                <td>{{row[0]}}</td>
                <td>{{'%0.2f'|format(row[2])}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>     
      </div>
      <div class="column">
        <div id="chart_efi"></div>
      </div>

    </div>
    <div class="row">
      <div class="column-table">
        <div class="display_container">
          <table class="display_table">
            <thead>
              <tr>
                <th>Date</th>
                <th>[V]</th>
              </tr>
            </thead>
            <tbody>
              {% for row in volt %}
              <tr>
                <td>{{row[0]}}</td>
                <td>{{'%0.2f'|format(row[2])}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>    
      </div>
      <div class="column">
        <div id="chart_volt"></div>
      </div>

    </div>


  </div>
      <!-- Google Charts Code start -->
      <div class="col-1">
        <div id="chart_temps1"></div>
        <div id="chart_temps2"></div>
        <div id="chart_temps3"></div>
        <div id="chart_curr"></div>
        <div id="chart_efi"></div>
        <div id="chart_volt"></div>
      </div>
      <!-- Google Charts Code end -->
    </div>
</body>


<!-- Google Charts JS start -->
<script type="text/javascript"
  src="https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization','version':'1','packages':['corechart']}]}"></script>

<script>
  google.load('visualization', '1', { packages: ['corechart'] });
  google.setOnLoadCallback(drawChart);

  function drawChart() {

    var data = new google.visualization.DataTable();
    data.addColumn('datetime', 'Time');
    data.addColumn('number', 'Temperature');
    data.addRows([
      {% for row in temp1 %}
  [new Date({{ row[0][0: 4] }}, {{ row[0][5: 7] }}-1, {{ row[0][8: 10] }}, {{ row[0][11: 13] }}, {{ row[0][14: 16] }}),
  {{ '%0.2f'| format(row[2]) }}],
    {% endfor %}
        ]);

  var options = {
    width: 1200,
    height: 900,
  
    hAxis: {
      title: "Date",
      gridlines: { count: {{ temp_items1 }}, color: '#CCC' },
  format: 'dd-MMM-yyyy HH:mm' },
  vAxis: {
    title: 'Stopnie [C]'
  },
  title: 'Temperatura zewnętrzna',
    curveType: 'function'  //Makes line curved
      };

  var chart = new google.visualization.LineChart(document.getElementById('chart_temps1'));

  chart.draw(data, options);

    }
</script>

<script>
  google.load('visualization', '1', { packages: ['corechart'] });
  google.setOnLoadCallback(drawChart);

  function drawChart() {

    var data = new google.visualization.DataTable();
    data.addColumn('datetime', 'Time');
    data.addColumn('number', 'Temperature');
    data.addRows([
      {% for row in temp2 %}
  [new Date({{ row[0][0: 4] }}, {{ row[0][5: 7] }}-1, {{ row[0][8: 10] }}, {{ row[0][11: 13] }}, {{ row[0][14: 16] }}),
  {{ '%0.2f'| format(row[2]) }}],
    {% endfor %}
        ]);

  var options = {
    width: 1200,
    height: 900,
    hAxis: {
      title: "Date",
      gridlines: { count: {{ temp_items2 }}, color: '#CCC' },
  format: 'dd-MMM-yyyy HH:mm' },
  vAxis: {
    title: 'Stopnie [C]'
  },
  title: 'Temperatura boiler',
    curveType: 'function'  //Makes line curved
      };

  var chart = new google.visualization.LineChart(document.getElementById('chart_temps2'));

  chart.draw(data, options);

    }
</script>

<script>
  google.load('visualization', '1', { packages: ['corechart'] });
  google.setOnLoadCallback(drawChart);

  function drawChart() {

    var data = new google.visualization.DataTable();
    data.addColumn('datetime', 'Time');
    data.addColumn('number', 'Temperature');
    data.addRows([
      {% for row in temp3 %}
        [new Date({{ row[0][0: 4] }}, {{ row[0][5: 7] }}-1, {{ row[0][8: 10] }}, {{ row[0][11: 13] }}, {{ row[0][14: 16] }}),
        {{ '%0.2f'| format(row[2]) }}],
      {% endfor %}
                ]);

  var options = {
    width: 1200,
    height: 900,
    hAxis: {
      title: "Date",
      gridlines: { count: {{ temp_items3 }}, color: '#CCC' },
  format: 'dd-MMM-yyyy HH:mm' },
  vAxis: {
    title: 'Stopnie [C]'
  },
  title: 'Temperatura zasilania',
    curveType: 'function'  //Makes line curved
      };

  var chart = new google.visualization.LineChart(document.getElementById('chart_temps3'));

  chart.draw(data, options);

    }
</script>

<script>
  google.load('visualization', '1', { packages: ['corechart'] });
  google.setOnLoadCallback(drawChart);

  function drawChart() {

    var data = new google.visualization.DataTable();
    data.addColumn('datetime', 'Time');
    data.addColumn('number', 'Current');
    data.addRows([
      {% for row in curr %}
  [new Date({{ row[0][0: 4] }}, {{ row[0][5: 7] }}-1, {{ row[0][8: 10] }}, {{ row[0][11: 13] }}, {{ row[0][14: 16] }}), {{ '%0.2f'| format(row[2]) }}],
    {% endfor %}
        ]);

  var options = {
    width: 1200,
    height: 900,
    colors: ['#5cb85c', '#000000'],
    hAxis: {
      title: "Date",
      gridlines: { count: {{ curr_items }}, color: '#CCC' },
  format: 'dd-MMM-yyyy HH:mm'        },
  vAxis: {
    title: 'Ampery[A]'
  },
  title: 'Current',
    curveType: 'function'  //Makes line curved
      };

  var chart = new google.visualization.LineChart(document.getElementById('chart_curr'));

  chart.draw(data, options);

    }

</script>

<script>
  google.load('visualization', '1', { packages: ['corechart'] });
  google.setOnLoadCallback(drawChart);

  function drawChart() {

    var data = new google.visualization.DataTable();
    data.addColumn('datetime', 'Time');
    data.addColumn('number', 'Wydajność');
    data.addRows([
      {% for row in efi %}
  [new Date({{ row[0][0: 4] }}, {{ row[0][5: 7] }}-1, {{ row[0][8: 10] }}, {{ row[0][11: 13] }}, {{ row[0][14: 16] }}), {{ '%0.2f'| format(row[2]) }}],
    {% endfor %}
        ]);

  var options = {
    width: 1200,
    height: 900,
    hAxis: {
      title: "Date",
      gridlines: { count: {{ efi_items }}, color: '#CCC' },
  format: 'dd-MMM-yyyy HH:mm'        },
  vAxis: {
    title: 'Percent'
  },
  title: 'Wydajność',
    curveType: 'function'  //Makes line curved
      };

  var chart = new google.visualization.LineChart(document.getElementById('chart_efi'));

  chart.draw(data, options);

    }

</script>

<script>
  google.load('visualization', '1', { packages: ['corechart'] });
  google.setOnLoadCallback(drawChart);

  function drawChart() {

    var data = new google.visualization.DataTable();
    data.addColumn('datetime', 'Time');
    data.addColumn('number', 'Napięcie');
    data.addRows([
      {% for row in volt %}
  [new Date({{ row[0][0: 4] }}, {{ row[0][5: 7] }}-1, {{ row[0][8: 10] }}, {{ row[0][11: 13] }}, {{ row[0][14: 16] }}), {{ '%0.2f'| format(row[2]) }}],
    {% endfor %}
        ]);

  var options = {
    width: 1200,
    height: 900,
    hAxis: {
      title: "Date",
      gridlines: { count: {{ volt_items }}, color: '#CCC' },
  format: 'dd-MMM-yyyy HH:mm'        },
  vAxis: {
    title: 'Volt'
  },
  title: 'Napięcie',
    curveType: 'function'  //Makes line curved
      };

  var chart = new google.visualization.LineChart(document.getElementById('chart_volt'));

  chart.draw(data, options);

    }

</script>
<!-- Google Charts JS end -->

<script src="//code.jquery.com/jquery-3.5.0.slim.min.js"></script>
<!-- Datetimepicker files start -->
<link rel="stylesheet" type="text/css"
  href="//cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css" />
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
<script>
  jQuery('#datetimepicker1').datetimepicker(
    {
      format: 'Y-m-d H:i',
      defaultDate: '{{from_date}}'
    });
  jQuery('#datetimepicker2').datetimepicker({
    format: 'Y-m-d H:i',
    defaultDate: '{{to_date}}'
  });

  jQuery("#range_select input[type=radio]").click(function () {
    jQuery("#range_select").submit();
  });
</script>
<!-- Datetimepicker files end -->

</html>