<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Basic Page Needs
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title>Lab Conditions by RPi</title>
    <meta name="description" content="Lab conditions - RPi">
    <meta name="author" content="Peter Dalmaris">
    <!-- Mobile Specific Metas
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- FONT
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
    <!-- CSS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/skeleton.css">
    <!-- Favicon
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="icon" type="image/png" href="/static/images/favicon.png">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="one-third column" style="margin-top: 5%">
          <strong>Showing all records</strong> 
          
          <h2>Temperatures</h2>                    
            <table class="u-full-width">
              <thead>
                <tr>
                  <th>Date</th>
                  <th>&deg;C</th>                        
                </tr>
              </thead>
              <tbody>
                {% for row in temp %}
                <tr>
                  <td>{{row[0]}}</td>
                  <td>{{'%0.2f'|format(row[2])}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>  
            
            <h2>Current</h2>
            <table class="u-full-width">
              <thead>
                <tr>
                  <th>Date</th>
                  <th>[A]</th>                        
                </tr>
              </thead>
              <tbody>
                {% for row in curr %}
                <tr>
                  <td>{{row[0]}}</td>
                  <td>{{'%0.2f'|format(row[2])}}</td>
                </tr>          
                {% endfor %}
              </tbody>
            </table>  
            
            <h2>Pump Efi</h2>
            <table class="u-full-width">
              <thead>
                <tr>
                  <th>Date</th>
                  <th>%</th>                        
                </tr>
              </thead>
              <tbody>
                {% for row in efi %}
                <tr>
                  <td>{{row[0]}}</td>
                  <td>{{'%0.2f'|format(row[2])}}</td>
                </tr>          
                {% endfor %}
              </tbody>
            </table>  
            
            
            <h2>Pump Voltage</h2>
            <table class="u-full-width">
              <thead>
                <tr>
                  <th>Date</th>
                  <th>[V]</th>                        
                </tr>
              </thead>
              <tbody>
                {% for row in volt %}
                <tr>
                  <td>{{row[0]}}</td>
                  <td>{{'%0.2f'|format(row[2])}}</td>
                </tr>          
                {% endfor %}
              </tbody>
            </table>  
            
            
        </div>

      <!-- Google Charts Code start -->
      <div class="two-thirds column" style="margin-top: 5%">
        <div class="row">                  
          <div class="row">
            <div class="three columns">
              <div id="chart_temps"></div>
              <div id="chart_curr"></div>
              <div id="chart_efi"></div>
              <div id="chart_volt"></div>
            </div>
          </div>
        </div>     
      </div>
      <!-- Google Charts Code end -->
    </div>           
  </body>
  
  <!-- Google Charts JS start -->
  <script type="text/javascript" src="https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization','version':'1','packages':['corechart']}]}"></script>

  <script>
    google.load('visualization', '1', {packages: ['corechart']});
    google.setOnLoadCallback(drawChart);

    function drawChart() {

      var data = new google.visualization.DataTable();
      data.addColumn('datetime', 'Time');  
      data.addColumn('number', 'Temperature');      
      data.addRows([
          {% for row in temp %} 
            [new Date({{row[0][0:4]}},{{row[0][5:7]}},{{row[0][8:10]}},{{row[0][11:13]}},{{row[0][14:16]}}),
                {{'%0.2f'|format(row[2])}}],
          {% endfor %}
        ]);

      var options = {
        width: 600,
        height: 563,
        hAxis: {
          title: "Date",
          gridlines: { count: {{temp_items}}, color: '#CCC' },
          format: 'dd-MMM-yyyy HH:mm' },
        vAxis: {
          title: 'Degrees'
        },
        title: 'Temperature',
        curveType: 'function'  //Makes line curved
      };

      var chart = new google.visualization.LineChart(document.getElementById('chart_temps'));

      chart.draw(data, options);

    }
  </script>

  <script>
    google.load('visualization', '1', {packages: ['corechart']});
    google.setOnLoadCallback(drawChart);

    function drawChart() {

      var data = new google.visualization.DataTable();
      data.addColumn('datetime', 'Time');  
      data.addColumn('number', 'Current');      
      data.addRows([
          {% for row in curr %}
            [new Date({{row[0][0:4]}},{{row[0][5:7]}},{{row[0][8:10]}},{{row[0][11:13]}},{{row[0][14:16]}}),{{'%0.2f'|format(row[2])}}],
          {% endfor %}
        ]);

      var options = {
        width: 600,
        height: 563,
        hAxis: {
          title: "Date",
          gridlines: { count: {{curr_items}}, color: '#CCC' },
          format: 'dd-MMM-yyyy HH:mm'        },
        vAxis: {
          title: 'Amps'
        },
        title: 'Current',
        curveType: 'function'  //Makes line curved
      };

      var chart = new google.visualization.LineChart(document.getElementById('chart_curr'));

      chart.draw(data, options);

    }

  </script>  
  
    <script>
    google.load('visualization', '1', {packages: ['corechart']});
    google.setOnLoadCallback(drawChart);

    function drawChart() {

      var data = new google.visualization.DataTable();
      data.addColumn('datetime', 'Time');  
      data.addColumn('number', 'Wydajność');      
      data.addRows([
          {% for row in efi %}
            [new Date({{row[0][0:4]}},{{row[0][5:7]}},{{row[0][8:10]}},{{row[0][11:13]}},{{row[0][14:16]}}),{{'%0.2f'|format(row[2])}}],
          {% endfor %}
        ]);

      var options = {
        width: 600,
        height: 563,
        hAxis: {
          title: "Date",
          gridlines: { count: {{efi_items}}, color: '#CCC' },
          format: 'dd-MMM-yyyy HH:mm'        },
        vAxis: {
          title: 'Percent'
        },
        title: 'Wydajność',
        curveType: 'function'  //Makes line curved
      };

      var chart = new google.visualization.LineChart(document.getElementById('chart_efi'));

      chart.draw(data, options);

    }

  </script> 
  
    <script>
    google.load('visualization', '1', {packages: ['corechart']});
    google.setOnLoadCallback(drawChart);

    function drawChart() {

      var data = new google.visualization.DataTable();
      data.addColumn('datetime', 'Time');  
      data.addColumn('number', 'Napięcie');      
      data.addRows([
          {% for row in volt %}
            [new Date({{row[0][0:4]}},{{row[0][5:7]}},{{row[0][8:10]}},{{row[0][11:13]}},{{row[0][14:16]}}),{{'%0.2f'|format(row[2])}}],
          {% endfor %}
        ]);

      var options = {
        width: 600,
        height: 563,
        hAxis: {
          title: "Date",
          gridlines: { count: {{volt_items}}, color: '#CCC' },
          format: 'dd-MMM-yyyy HH:mm'        },
        vAxis: {
          title: 'Volt'
        },
        title: 'Napięcie',
        curveType: 'function'  //Makes line curved
      };

      var chart = new google.visualization.LineChart(document.getElementById('chart_volt'));

      chart.draw(data, options);

    }

  </script> 
  <!-- Google Charts JS end -->
  
</html>