<html>
<meta http-equiv="refresh" content="5">
<head>
    <style>
        body {
            background-repeat:no-repeat; # wylaczenia powtarzanie tzn jak zdjecie bedzie zamale to nie bedzie ustawiana kolo siebie
            background-attached:fixed;
            background-size:cover;
            /* background-image: url({{image1}}); */
            font-size: 40px;
             }
        meter{
            width: 300px;
            }
    </style>
    {% extends 'base.html' %}
    {% block content %}

</head>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<body>
    <form class = "grid" action = "/result" method = "POST">
        <br><br><br><br><br><br>
        <label ><h1>Tryb pracy instalacji: Pompa - podlogowka </h1></label><br><br>
        <label ><h1>Temp. czujnika {{to1}} : {{t1}} <span>&#8451;</span> </h1></label><br><br>
        <label ><h1>Temp. czujnika {{to2}} : {{t2}} <span>&#8451;</span> </h1></label><br><br>
        <label ><h1>Temp. czujnika {{to3}} : {{t3}} <span>&#8451;</span> </h1></label><br><br>
        <label ><h1>Temp. czujnika {{to4}} : {{t4}} <span>&#8451;</span> </h1></label><br><br>
        <label ><h1>Temp. czujnika {{to5}} : {{t5}} <span>&#8451;</span> </h1></label><br><br>
        <label ><h1>Temp. czujnika {{to6}} : {{t6}} <span>&#8451;</span> </h1></label><br><br>
        <label ><h1>Stopien wysterowania pompy --> {{pump}}%</h1></label>
        <br>
        <label width: 350px>
        <meter low = '30' high = '50' optimum='80' max = '100' value={{pump}}></meter>
        </label>
        <br><br>
        
        
        
        {%if mainState == true%}
        <label > Pompa pracuje </label><br>
        </label><input type="Submit" value="Turn OFF Pump" name='Turn OFF Pump'/>
        {%else%}
        <label > Piec pracuje </label><br>
        </label><input type="Submit" value="Turn ON Pump" name='Turn ON Pump'/>
        {%endif%}
    </form>

</body>

{% endblock %}
</html>