<html>
<meta http-equiv="refresh" content="5">
<head>
    <style>
        body {
            background-repeat:no-repeat; /* wylaczenia powtarzanie tzn jak zdjecie bedzie zamale to nie bedzie ustawiana kolo siebie*/
            background-attached:fixed;
            background-size:cover;
            /* background-image: url({{image1}}); */
            font-size: 40px;
             }
        meter{
            width: 300px;
            }
    </style>
    {% extends 'base.html' %}
    {% block content %}

</head>
<!-- {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %} -->
<body>
    <form class = "container text-center" action = "/result" method = "POST">

      <div class="container text-start">
        <div class="col-10 order-last">
          <label ><h1>Tryb pracy instalacji: Pompa - podlogowka </h1></label><br><br>
        </div>
        <div class="row align-items-start">
          <div class="col-3 align-self-start">
            <label >T1 - Piec : {{t4}} <span>&#8451;</span> </label><br><br>
            <label >T2 - Boiler : {{t3}} <span>&#8451;</span> </label><br><br>
            <label >T3 - Pompa wyjscie : {{t1}} <span>&#8451;</span> </label><br><br>
            <label >T4 - Pompa powrot : {{t2}} <span>&#8451;</span> </label><br><br>
            <label >T5 - Temp. zewnetrzna : {{t5}} <span>&#8451;</span> </label><br><br>
            <label >Wydajnosc pompy: {{pump}}% </label><br><br>
            <!-- <label width: 350px> -->
            
            {%if mainState == true%}
              
            <label>  
              <div class="progress" role="progressbar" style="width: 250px" aria-label="Example 40px high" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar" style="width: {{pump}}%">
                  <div class="text-warning">{{pump}}%</div>
                </div>
              </div>
            <!-- <meter low = '30' high = '50' optimum='80' max = '100' value={{pump}}></meter> -->
            </label>
            <br>
            <label > Pompa pracuje </label><br>
            </label><input type="Submit" value="Turn OFF Pump" name='Turn OFF Pump'/>
            {%else%}
            <label > Piec pracuje </label><br>
            </label><input type="Submit" value="Turn ON Pump" name='Turn ON Pump'/>
            {%endif%}
          </div>

          <div class="col-9 order-last">
            <img src="{{image1}}" class="img-fluid" alt="...">
          </div>
        </div>
      </div>




    </form>

</body>

{% endblock %}
</html>