<nav class="navbar navbar-expand-lg navbar-dark bg-dark" method = "POST">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{url_for('result')}}">{{lang['home'][pickedLang]}}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{url_for('settings')}}">{{lang['Settings'][pickedLang]}}</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{url_for('harmonogram')}}">{{lang['Schedule'][pickedLang]}}</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{url_for('history')}}">{{lang['History/Charts'][pickedLang]}}</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{url_for('temp_sensor_config')}}">{{lang['Sensor configuration'][pickedLang]}}</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{url_for('raspberrypi')}}">{{lang['RaspberryPi'][pickedLang]}}</a>
        </li>
          
      </ul>
      <a class="nav-link active" aria-current="page">{{lang['Language'][pickedLang]}}: {{lang['Lang'][pickedLang]}}</a>
      <a class="nav-link active" aria-current="page" href="">
        {{lang['Temperature'][pickedLang]}}: {{ sensFoundList[sensorIndexList[0]] }} <span>&#8451;</span>
        </a>


        <a class="nav-link active" aria-current="page" href="">
          {% include 'clock.html' %}
        </a>
    </div>
  </div>
</nav>