{% extends 'base.html' %}

{% block content %}
<br/>
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul class=flashes>
    {% for category, message in messages %}
      <li class="{{ category }}">{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<body>
    <form class = "grid" action = "/temp_sensor_config" method = "POST">

<h1>Strona na ktorej mozna zmienic dane mikrokomputera Raspberry Pi</h1>
<label>Dane karty pamieci: {{ diskSpaceList }}</label><br/><br/>

</body>



{% endblock %}