{% extends 'base.html' %}

{% block content %}
<br/>
<style>
.on{
  background-color: green;
  width: 150px;
}
.off{
  background-color: red;
  width: 150px;
}
.number{
  background-color: cornflowerblue;
  width: 140px;
}
.title{
  text-align: center;
}
.harmonogramTable{
  text-align: center;
  position: absolute;
}

</style>

<body>
    <form class = "grid" action = "/settings" method = "POST">

<h1>Nastawy parametrow pracy ukladu</h1>
<br/><br/>


<div class="container text-center">
  <div class="row">
    <div class="col-6 col-sm-4"><h4>Parametr</h4>
    </div>
    <div class="col-6 col-sm-4"><h4>Podlogowka</h4></div>
    <div class="col-6 col-sm-4"><h4>Boiler</h4></div>

    <div class="col-4 col-sm-4">Temperatura aktualna</div>
    <div class="col-6 col-sm-4">
      <label >{{setTempList[2]}}[<span>&#8451;</span>]</label> </label>
    </div>
    <div class="col-6 col-sm-4">
      <label >{{setTempList[1]}}[<span>&#8451;</span>]</label> </label>  
    </div>
    <div class="col-4 col-sm-4">Nowa temperatura zadana</div>
    <div class="col-6 col-sm-4">
      <input type='float' placeholder='New Temp' step ='0.1' name = 'tempZad1'>
      <input type="Submit" value="Save" name='Save1'/>
    </div>
    <div class="col-6 col-sm-4">
      <input type='float' placeholder='Put New Temp Here' step ='0.1' name = 'tempZad2'>
      <input type="Submit" value="Save" name='Save2'/>  
    </div>
    <div class="col-6 col-sm-4">Interwal</div>
    <div class="col-6 col-sm-4">
      <label >{{pumpIntervalList[2]}}[s]</label></label>
    </div>
    <div class="col-6 col-sm-4">
      <label >{{pumpIntervalList[1]}}[s]</label> </label>
    </div>
    <div class="col-6 col-sm-4">Nowy interwal</div>
    <div class="col-6 col-sm-4">
      <input type='float' placeholder='New interwal' step ='0.1' name = 'setInterval1'>
      <input type="Submit" value="Save" name='Save3'/> 
    </div>
    <div class="col-6 col-sm-4">
      <input type='float' placeholder='New interwal' step ='0.1' name = 'setInterval2'>
      <input type="Submit" value="Save" name='Save4'/> 
    </div>
    <div class="col-6 col-sm-4">Amplituda</div>
    <div class="col-6 col-sm-4">
      <label >{{pumpTempOfsetList[2]}}[<span>&#8451;</span>]</label> </label>
    </div>
    <div class="col-6 col-sm-4">
      <label >{{pumpTempOfsetList[1]}}[<span>&#8451;</span>]</label> </label>
    </div>
    <div class="col-6 col-sm-4">Nowa amplituda</div>
    <div class="col-6 col-sm-4">
      <input type='float' placeholder='New amplitude' step ='0.1' name = 'setAmplitude1'>
      <input type="Submit" value="Save" name='Save5'/> 
    </div>
    <div class="col-6 col-sm-4">
      <input type='float' placeholder='New amplitude' step ='0.1' name = 'setAmplitude2'>
      <input type="Submit" value="Save" name='Save6'/> 
    </div>

  </div>
</div><br><br>
<h1 class="title">Harmonogram</h1><br><br>
<table clas="harmonogramTable">
  <tr>
    {%for day in dni%}
    <th>{{day}}</th>
    {% endfor %}
  </tr>
    {% for row in godzina %}
    <tr>
      {% for cell in row %}
      <td><input type="Submit" onclick="getValue(this)" 
        class="{%if cell == 'ON' %}on{%elif cell == 'OFF' %}off{% else %}number{%endif%}"  
        value="{{cell}}" 
        name="{{row[0]}}-{{loop.index0}}"/>
        <!-- {{row[0]}}-{{loop.index0}} -->
      </td>
      {% endfor %}
    </tr> 
    {% endfor %}
</table>
<script>
  function getValue(Submit) {
      var value = 'Are you sure you want to change the logic for this cell?' // Tutaj możesz ustawić wartość, którą chcesz zwrócić
      alert(value);
  }
</script>
 </form>

</body>



{% endblock %}