{% extends 'base.html' %}

{% block content %}
<br/>
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul class=flashes>
    {% for category, message in messages %}
      <li class="{{ category }}">{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<body>
    <form class = "grid" action = "/settings" method = "POST">

<h1>Strona na ktorej mozna zmienic konfigoracje czujnikow</h1>
<label>Tu mozesz wybrac nazwe, przypisac numer czujnika - bedzie to bardzo wazne w przypadku wymiany czujnika.</label><br/><br/><br/>

<label>Wykryta liczba czujnikow: {{ sensFoundNumber }}</label><br/><br/>
{% for sensor in sensFoundList %}
        {% if sensFoundList[loop.index-1] != -999 %}
          <label>[{{loop.index -1}}] - Wykryto czujnik w tablicy o indeksie {{loop.index -1}}, wskazanie: {{sensor}} <span>&#8451;</span></label> <br/><br/>
        {% endif %}
{% endfor %}
        

    </form>

</body>



{% endblock %}